<div> 


<!-- <app-question></app-question> -->
   <!-- <app-questannaire></app-questannaire> -->
     <!-- <app-questions></app-questions>  -->
  <!-- <app-play-details></app-play-details>    -->
  <!-- <app-participant-enterance></app-participant-enterance>  -->
  <!-- <app-enterance-all></app-enterance-all>  -->
  <img style="height: 166px;width: 100%;padding-top: 0.5% ;padding-left: 50px;" src="../assets/images/newLogo.png">
  <router-outlet></router-outlet> 
  <div class="imag" ></div>
 
 <!-- <app-the-play></app-the-play> -->
   <!-- <app-question></app-question> -->
  <!-- <app-the-play></app-the-play>  -->
</div>

