:host >>> .ui-inputgroup .ui-inputgroup-addon {
    background-color: #eceeef;
} 

:host >>>  .ui-inputgroup .ui-inputgroup-addon {
    background-color: #eceeef;
  }

body .ui-inputgroup .ui-inputgroup-addon {
    background-color: #feb314;

}

.ui-inputgroup .ui-inputgroup-addon {
    background-color: #feb314;
  }